.contain {
	max-width: 500px;
	height: 620px;
	background-color: #1DE7DD;
	color: gray;
	text-align: center;
	font-family:'Courier New', Courier, monospace;
	font-size: 30px;
	margin-left: 20px;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 70px repeat(5, 1fr);
}

.item {
	text-align: center;
	margin: 3px;
	/* border: 1px solid black; */
	border-radius: 5px;
	background-color: white;
	padding-top: 30px;
}

.calc {
	grid-column: 1 / -1;
	background-color: #1DE7DD;
	color: white;
	font-size: 60px;
	padding-top: 5px;
}

.result {
	grid-column: 1 / 4;
	text-align: left;
	color: silver;
	padding-left: 20px;
}

.c-btn {
	background-color: red;
	color: whitesmoke;
}

.c-btn, .calc-btn {
	cursor: pointer;
}

.calc-btn:hover {
	background-color:gainsboro;
	transition: 0.5s ease-in-out;
}

.c-btn:hover {
	background-color:indianred;
	transition: 0.5s ease-in-out;
}